body {

  margin: auto;
      width: 90%;
      padding: 30px;

}
  header {
    text-align: center;
    background: #efeded;
    height: 150px;
  }

div.nav_menu {
  font-size: 20px;
    height: 30px;
      background-color: powderblue;
    padding: 10px;
      text-align: center;
    color: gray;
    font-family: "Monaco";
    font-style: bold;
}

div.welcome-content{
	background-color: #efeded;
	padding: 10px;
	font-family: "Monaco";
	color: black;
	height: 336px;
	font-size: 18px;
}

img.profilepic{
      width: 235px;
      height: 326px;
      float: left;
      margin-left: 15px;
      margin-right: 15px;
      text-align: left;
}

div.text-box-content{
background-color: #efeded;
padding: 10px;
font-family: "Monaco";
color: black;

}

section.Education{
background-color: #efeded;
padding: 10px;
font-family: "Monaco";
color: black;
}

p.intro{
margin-left: 20px;
margin-right: 20px;
line-height: 1.7;
text-align: justify;

}

p.educated{
font-family: "Monaco";
color: black;
font-weight: bold;
margin-left: 12px;
}

p.educated2{
font-family: "Monaco";
color: black;

margin-left: 20px;
}


h2{
  font-size: 25px;
  margin-bottom: -5px;
  font-family: "Monaco";
    color: gray;
  text-align: center;

}

h3{
  font-size: 20px;
  margin-bottom: -10px;
  font-family: "Monaco";
    color: gray;
  margin-left: 12px;

}
a {
	color: gray;
}

 h1 {
 	padding-top: 15px;
	font-size: 50px;
	margin-bottom: -10px;
	font-family: "Monaco";
	color: gray;
 }

  div.footer-content{
    height: 50px;
      width: 99.9%;
      background-color: powderblue;
    padding: 1px;
      text-align: center;
    color: gray;
    font-family: "Monaco";
    font-style: italic;

  }
